.mainLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 100%;
  height: 100%;
  background-color: rgb(27, 27, 27);
  align-items: center;
}

.maintop {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 90%;
  background-color: rgb(27, 27, 27);
}

.navbar{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
.navcontainer{
    display: flex;
    height: 100%;
    

}
.sitename{
    font-family:Roboto condensed;
    color: rgb(227, 252, 233);
    font-size: 23px;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: bold;
    
}
.navspan{

    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(134, 134, 132);
    color: white;
    font-family: Roboto condensed;
    align-items: center;
    border-radius: 3px;
    margin-right: 20px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    transition: 1s ease-in-out;

    
}
.navspan:hover{
    border: 1.5px solid rgb(156, 152, 152);
    transition: 1s ease-in-out;
    background-color: rgb(10, 168, 168)

}
.myform{
    font-family: Roboto condensed !important;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    padding: 40px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.homeContent{
background-color: rgb(24, 25, 63);
margin: 15px;
border-radius: 10px;
background-repeat: no-repeat;
display: flex;
flex-direction: row;
justify-content: space-between;

background-size: contain;
 height: 600px;
}

.hcontent_l {
    font-family: Roboto condensed;


    height: 100%;
    width: 50%;
    padding: 20px;
}
.hcontent_l p{
    font-family: Roboto condensed;
   color: rgb(255, 255, 255);
    font-size: 30px;

    
    padding: 20px 20px 0px 10px;
}
.hcontent_l_intro{
    display: flex;
    flex-direction: column;

    font-family: Roboto condensed;
   color: rgb(10, 43, 27);
    font-size: 16px;
    background-color:  hsla(0, 0%, 0%, 0); 
    border-radius: 5px;
    padding: 20px 20px 20px 10px;
    transition: 1s ease-in-out;

    
}
.membershipbtn{
    border: 1px solid blue;
    border-radius: 5px ;
    padding: 10px 20px 10px 20px;
    width: 35%;
    margin-top: 10px;
    color: white;
}
.hcontent_l_intro:hover{


    background-color: rgba(173, 227, 231, 0.5);
  
    transition: 1s ease-in-out;
    
}
.hcontent_r{
    
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
}
.lform{
    width: 300px;
    height: 480px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 2px rgb(235, 231, 231);
}
.rform{
   
    width: 300px;
    height: 480px;
    margin-left: -100px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 4px 2px 8px 2px rgb(61, 61, 61);
    background-color: white;
    font-family: Roboto condensed;
    padding: 5px;
}
.rform p{
    color: rgb(7, 7, 26);
    font-size: 20px;
}
.uploadicon{
    border: 1px solid blue;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}
.uploadspace{
    width: 95%;
    height: 150px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(238, 227, 227);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  width: 100%;
  height: 80px;
  background-color: rgb(36, 35, 35);
  font-family: Roboto condensed;
  color: white;
  
  font-size: 18px;
}

.progressicon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 120%;
    padding-top: 10px;
    padding-right: 10px;

    border-radius: 8px;

    background-color: rgb(70, 226, 226);
}
.progressicon p{
    font-family: Roboto condensed;
    font-size: 13px;
  
}
.percenticon{
    color:white;
    margin-left: 30px;
    margin-right: 10px;
 
}
.progressbar{
width: 40%;
height: 2px;
border-radius: 5px;
background-color: rgb(248, 248, 248);
margin-top:-10px;

overflow: hidden;

}
.pause{
    margin-top: -10px;
    background-color:rgb(35, 175, 175);
    font-family: Roboto condensed;
    font-size: 11px;
    padding: 3px;
    border-radius: 4px;
    }
    .userDet{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        

    }
    .userDet p{
        color: rgb(57, 61, 61);
        font-size: 14px;
    }
    .userDet p span{
        color: aqua;
        font-size: 15px;
    }
    
.fillprogress{
    width: 40%;
    height: 100%;
    background-color: green;
}
.Lock{
    width: 25%;
    padding: 5px;
    border-radius: 5px ;
    background-color: rgb(70, 226, 226);
}

.frontpage{
    width: 98%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
   

}
.frontpage p{
    font-family: Roboto condensed;
    font-size: 35px;
    color: aqua;
}
.frontpage_c{
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: auto;
   
    
}

.frontitem{
    display: flex;
    width:30%;
    height: 250px;
    box-shadow: 3px 4px 6px rgb(46, 45, 45);
background-repeat: no-repeat;
background-size: cover;
background-color: white;
border-radius: 5px;
  
}
.frontitemhover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    border-radius: 10px;
    background-color: rgba(48, 55, 121, 0.5);
    transition: 1s ease-in-out;

  
}
.frontitemhover:hover{
 
    transition: 1s ease-in-out;
    background-color: rgba(255, 255, 255, 0.5);


  
}
.frontitem p{
    color: aqua;
    font-size: 27px;
    font-weight: bold;
}

.signin{
    font-family: Roboto condensed;

}
.signin span{

    padding: 5px;
    border-radius: 5px;
    border: 1px solid aqua;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.verifyme{
    border-radius: 5px;
    border: 1px solid aqua;
    background-color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 20px;
    font-family: Roboto condensed;
}
.verifypage{
    font-family: Roboto condensed;
    font-size: 30px;
    margin-top: 40px;
    color: white;

}
.signin span:hover{

    
 
    background-color: aqua;
   
    transition: 1s ease-in-out;
}