
.d_introduction_m{
    display: none 
}

.d_introduction_m{
    display: none 
}

.d_progressbar {
    width: 100%;
    font-size: 9px;
    font-weight: bold;
    color: green;
    font-family: Montserrat;
    display: flex;
    flex-direction: row;
    align-items: center;


}

.d_introline_l{
    width: 80px;
    height: 50px;
    border-bottom-left-radius: 3px;
    border-left: 2px solid rgb(5, 175, 133);
    border-bottom: 2px solid rgb(5, 175, 133);
    transition: 1s ease-in-out;
    visibility: hidden;

}

.d_introline_r{
    width: 80px;
    height: 50px;
    border-bottom-right-radius: 3px;
    border-right: 2px solid rgb(5, 175, 133);
    border-bottom: 2px solid rgb(5, 175, 133);
transition: 1s ease-in-out;
visibility: hidden;
}
.d_contactstick {
    display: flex;
    flex-direction: column;
    width: 5%;
    position: fixed;
    min-height: 660px;
    background: rgba(3, 161, 3, 0);
    justify-content: end;
    align-items: center;
    padding-bottom: 10px;
    visibility: hidden;
    z-index: 1000;
   
 
}
.d_showStcks{
    visibility: visible;
    -webkit-animation: contact_anim 2s ease-in-out;
}
.d_contactstick_icon{
   margin-left: 23px;
}

.d_contactsimg {
    width: 25px;
    height: auto;
    background-size: contain;
    margin: 10px 0 10px 20px;
    transition: 2s ease-in-out;
    z-index: 1000;
}
.d_c_icon{
    color:white !important;
}

.d_c_icon:hover{
   color: rgb(5, 175, 133) !important; 
   transition: 1s ease-in-out;
}
.d_contactsimg:hover {
    transform: scale(1.3);
    transition: 2s ease-in-out;
    color: red ;


}

.d_myprofile_front_hover {
    transition: 1s ease-in-out;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgb(28, 7, 134);
    opacity: 0.4;
    border-radius: 5px;
}
.d_myprofile_front_hover:hover {
    transition: 1s ease-in-out;

    background: rgba(3, 161, 3, 0);

}


.d_profilen p {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;

}

.d_tabs {
    width: 100%;

    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;

}

.d_tabs_container {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-top: 17px;
    justify-content: space-around;
-webkit-animation: tabs_anim 2s ease-in-out;

}
.d_HandIndexThumb{
    transition: 1s ease-in-out;
    transform: rotate(90deg);
    -webkit-animation: hand_anim 3s infinite;
    color: white !important;

}

.d_tabs_container h1 {
    font-family: Roboto Condensed;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    padding: 5px 10px 0 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    opacity: 0.8;
}

.d_profilen_avater {
    box-shadow: 1px 2px 6px 1px rgb(165, 160, 160);
}

.d_profilen {
    display: flex;
    flex-direction: row;
    visibility: hidden;
    color: #333333;
    font-weight: bold;
    font-family: Raleway;
    cursor: pointer;
    margin: 30px;
    padding-top: 40px;
}



.d_tabs_container h1:hover {

    transition: 0.5s ease-in-out;
    opacity: 1;
    transform: scale(1.01);
}

.d_tabs_container h1 p {
    font-family: Roboto Condensed;
    color: rgb(20, 240, 185);
}

.d_tabs_container span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgb(20, 240, 185);
    opacity: 0.8;
    height: 30px;
    padding: 5px;
    font-family: Roboto Condensed;
    color: white;
    font-weight: bold;
}

.d_tabs_container span:hover {

    transition: 0.5s ease-in-out;
    transform: scale(1.01);
    border: 2px solid rgb(5, 175, 133);
    opacity: 1;

}



.d_profilen:hover {
    color: rgb(183, 218, 57);
    transition: 1s ease-in-out;
}


.d_introduction {
    width: 100%;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-color: rgb(46, 46, 46);


}

.d_footer_line_r{
    width: 0%;
    height: 2px;
 margin-left: 5px;
background-color:   rgb(5, 175, 133);
 

}
.d_footer_line_l{
    width: 0%;
    height: 2px;
    background-color:   rgb(5, 175, 133);
    margin-right: 5px;
}

.d_footer_resume{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid rgb(5, 175, 133);
    color: rgb(5, 175, 133);
    font-weight: bold;
    font-family: Roboto condensed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d_footer_resume p{
    margin-top: 15px;
}
.d_footer_mail{
    display: flex;
    flex-direction: row;
   
}
.d_footer_click{
    padding: 8px;
    margin-top: -6px;
    margin-left: 10px;
    border-radius: 5px;
    transition: 2s ease-in-out;
    font-family: Roboto condensed;
    text-decoration: none;
    color: white !important;
}
.d_footer_click:hover{
    border: 1px solid rgb(5, 175, 133);
    transition: 2s ease-in-out;
    cursor: pointer;
}
.d_footer_create{
    font-family: Roboto condensed;
    font-weight: bold;
    color:rgb(5, 175, 133)
}
.d_footer_circle{
    width: 25px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(14, 112, 88);
   margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d_contactme {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(50, 50, 52);
    align-items: center;
    min-height: 450px;
 
    width: 100%;
    justify-content: space-between;
}

.d_footer_header{
    font-family: Roboto condensed;
    font-weight: bold;
    color:    rgb(5, 175, 133);
    font-size: 40px;
}
.d_footer_p{
    font-family: Roboto condensed;
  font-size: 25px;
  color: white;

}
.d_HandIndexThumb_footer{
    transition: 1s ease-in-out;
    transform: rotate(90deg);
    -webkit-animation: hand_anim 3s infinite;
    color: white !important;
    background-color: white;

}
.d_myprofile_front {

    border-radius: 5px;
    width: 320px;
    height: 320px;
    box-shadow: 1px 2px 4px 1px rgb(21, 21, 21);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-color:rgb(5, 175, 133);
    -webkit-animation: drawpic 1s ease-in-out;
}
.d_skill_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 38, 38);
    opacity: 0.95;
    z-index: 10;


}
.d_introduction_s {
    width: 100%;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;

    background-color:rgb(1, 1, 9);

}
.d_profilen{
   
   
    margin-left: -10px;
   
}
.d_fix_contact_line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  width: 100%;
    height: 120px;
    border-radius: 4px;
    position: relative;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 80px;
    transition: 2s ease-in-out;
    transform: translateY(200%);
    visibility: hidden;
}

.d_fix_contact_line span {
  padding: 5px;
    width: 13px;
    height: 13px;
    background-color: rgb(5, 175, 133);

    border-radius: 3px;
    cursor: pointer;
    transition: 2s ease-in-out;




}

.d_fix_contact_line span:hover {
    transition: 1s ease-in-out;
    transition: scale(1.05);
}


.d_fix_contact_line a {
    box-shadow: 1px 2px 5px 1px rgb(107, 103, 103);

}


.d_introduction_content_pic_frame {
    transition: 0.5s ease-in-out;
    width: 320px;
    height: 320px;
    background: rgba(3, 161, 3, 0);
    border-radius: 5px;
    border: 2.3px solid rgb(5, 175, 133);
    margin-left: 25px;
    margin-top: 25px;
    transition: 1s ease-in-out;
    -webkit-animation: drawframe 1s ease-in-out;
}



.d_content_intro {
    font-family: Roboto Condensed;
    font-size: 55px;
    font-weight: bold;
    color: white;
    transform: translateX(0%);
    -webkit-animation: contentapperI 1s ease-in-out;
    animation: contentapperI 1s ease-in-out;

}

.d_content_intro span {
    color: rgb(5, 175, 133);

  
}
.d_content_name {
    font-family: Roboto Condensed;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    transform: translateX(0%);
    -webkit-animation: contentapper 1s ease-in-out;
    animation: contentapper 1s ease-in-out;
}

.d_content_brief {

    font-family: Roboto Condensed;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    visibility: hidden;
}
.d_content_brief_show{
    visibility: visible;
    transition: 1s ease-in-out;
    -webkit-animation: showbriefC 1s ease-in-out;
}
.d_skill_a_introM{
    display: none;
}
.d_skill_a_introS{
    display: flex;
}

.d_brief_swip {
    margin-top: 50px;
    font-family: Roboto Condensed;
    font-size: 30px;
    visibility: hidden;
    color: white;
}
.d_brief_swip_visible {
    margin-top: 50px;
    font-family: Roboto Condensed;
    font-size: 30px;
    visibility: visible;
    color: white;
}



.d_brief_swip span {
    font-weight: bold;
    font-size: 35px;
    color: rgb(5, 175, 133);

}




.d_skills {
    width: 100%;
    min-height: 400px;

}



.d_contact {
    width: 100%;
    min-height: 400px;
}





.d_skill_content {
    width: 85%;
    display: flex;
    flex-direction: row;
    min-height: 500px;
    margin-top: 5px;
    justify-content: space-between;
    align-items: flex-start;



}

.d_skill_a_hi {


    color: white;
}

.d_skill_a_hi span {
    font-weight: bold;
    color: rgb(5, 175, 133);
}


.d_skill_a {

    width: 50%;
    padding: 10px;
    font-family: Roboto condensed;

    font-weight: lighter;
    font-size: 19px;
    color: white;

}

.d_skill_sw {
    width: 40%;
    position: relative;
    padding: 10px;
    min-height: 400px;

}

.d_skill_a_h {
    margin-top: 30px;
    color: rgb(5, 175, 133);
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 25px;

}

.d_skill_a_intro {
    font-family: Roboto condensed;
    font-size: 25px;
    color:white;
}

.d_skill_a_line {
    width: 5%;
    height: 5px;
    background-color: rgb(190, 233, 0);
    margin-bottom: 10px;
    border-radius: 10px;

}

.d_skill_h {
    color: rgb(5, 175, 133);
    font-family: Roboto condensed;
    font-weight: bolder;
    font-size: 30px;
}

.d_skill_name {
    display: flex;
    flex-direction: row;

    align-items: center;
    color: white;
    font-family: Roboto condensed;
    font-weight: bolder;
    font-size: 16px;

    margin-bottom: -20px;
}


.d_tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.d_tool_container {


    border-radius: 5px;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    transition: 1s ease-in-out;
}



.d_tool_c {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 40px;
    box-shadow: 1px 2px 4px 1px rgb(26, 26, 26);
    background-color: white;
    border-radius: 3px;
    font-family: Roboto condensed;
    font-size: 17px;
    color: rgb(91, 88, 112);
    font-weight: bold;
}

.d_tool_c p {
    margin-top: 13px;
}

.d_skill_subname {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
    border-radius: 5px;
    margin-top: 10px;
    width: 60%;
    font-weight: bolder;
    color: rgb(203, 231, 218);
    font-family: Roboto condensed;
    font-size: 13px;



}
.d_ratec{
    display: flex;
    flex-direction: row;
    color: white;
    margin-left: 15px;
}

.d_progressbarcontainer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 2px;
    background-color: rgb(208, 207, 212);
    width: 100%;
    border-radius: 10px;
    position: relative;
    margin-right: 5px;
    box-shadow: 1px 2px 4px 1px rgb(6, 6, 6);

}
.d_progressbarcontainer span{
   
    margin-top: -15px;
margin-left: -3px;


}

.d_progressbarcount_show {

    height: 100%;
    visibility: visible;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    animation: l_progressbar 10s ease-in-out;


}




.d_experience {
    width: 100%;
    min-height: 400px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background-color: rgb(50, 50, 52);
}

.d_experience_line {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.d_experience_line_1 {
    width: 0%;
    height: 1px;
    border-radius: 3px;
    background-color: rgb(5, 175, 133);
    margin-bottom: 12px;
    margin-left: 10px;
}

.d_experience_line_3 {
    width: 0%;
    height: 1px;
    border-radius: 3px;
    background-color: rgb(5, 175, 133);
    margin-bottom: 12px;
    margin-left: 10px;
}

.d_experience_line_2 {
    width: 25px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(14, 112, 88);
    margin-bottom: 12px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d_experience_line_c {
    width: 3px;
    height: 3px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    -webkit-animation: expi_c 1s infinite linear;

}

.d_experience_c {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    width: 90%;
    height: 100%;
    padding: 40px;
}

.d_experience_c img {
    width: 30%;
    height: 400px;
}

.d_experience_c_p {
    width: 65%;


}

.d_experience_text {
    font-family: Roboto condensed;
    font-size: 19px;
    color: white;
    padding-left: 10px;
    margin-top: -10px;

}

.d_experience_text span {
    font-weight: bold;
    color: rgb(5, 175, 133);

}

.d_experience_c_boxr {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-bottom: -40px;
    height: 50px;
}

.d_experience_c_boxr_s {
    width: 0px;
    height: 0px;
    visibility: hidden;
    margin-bottom: -80px;
    border-top: 1px solid rgb(5, 175, 133);
    border-right: 1px solid rgb(5, 175, 133);

    border-top-right-radius: 3px;
}

.d_experience_c_boxl_s {
    width: 0px;
    height: 0px;
    visibility: hidden;
    margin-top: -30px;
    border-bottom: 1px solid rgb(5, 175, 133);
    border-left: 1px solid rgb(5, 175, 133);

    border-bottom-left-radius: 3px;
}

.d_experience_c_boxl {
    width: 100%;
    display: flex;
    justify-content: left;

    height: 50px;
}

.d_works {
    width: 100%;

    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 47, 48);
}



.d_works_c {
    display: flex;
    flex-direction: column;


    width: 80%;

}

.d_work_l {
    display: flex;
    flex-direction: row;
    visibility: hidden;

}
.d_work_imagecontainer {
    width: 60%;
    height: 300px;
   background-color: white ;
    box-shadow: 1px 2px 4px 1px rgb(16, 16, 16);
    border-radius: 5px;
}
.d_work_image {
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 1px 2px 4px 1px rgb(16, 16, 16);
  
}


.d_work_p {
    width: 50%;
    height: 400px;
    background: rgba(3, 161, 3, 0);
    display: flex;
    flex-direction: column;

    align-items: end;

    margin-left: -50px
}

.d_work_pl {
    width: 50%;
    height: 400px;
    background: rgba(3, 161, 3, 0);
    display: flex;
    flex-direction: column;
    margin-right: -50px
}

.d_works_c_h {
    color: rgb(5, 175, 133);
    font-family: Roboto condensed;
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

}

.d_works_c_h_l {
    width: 0%;
    height: 1px;
    border-radius: 3px;
    background-color: rgb(5, 175, 133);
    margin-bottom: 12px;
    margin-left: 10px;

}

.d_works_c_h_l:hover {
    background-color: white;
    transition: 1s ease-in-out;

}

.d_work_p_n {
    color: rgb(5, 175, 133);
    font-family: Roboto condensed;
    font-size: 19px;

    font-weight: bold;
}

.d_work_p_c {
    min-height: 100px;
    background-color: rgb(5, 175, 133);
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgb(119, 119, 119);
    padding: 12px;
    color: rgb(253, 253, 253);
    font-family: Roboto condensed;
    font-size: 15px;
    z-index: 200;
}

.d_work_p_tools {
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: end;
    justify-content: right;
    width: 100%;

}

.d_work_p_toolsl {
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: end;
    justify-content: left;
    width: 100%;

}

.d_work_p_toolsl p {

    color: rgb(5, 175, 133);
    font-family: Roboto condensed;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;


}

.d_work_p_tools p {

    color: rgb(5, 175, 133);
    font-family: Roboto condensed;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;

}

.d_work_p_link {
    padding: 10px;
    margin-top: -20px;
}

.d_work_image_b {
    width: 100%;
    height: 100%;
  background-color: rgb(31, 31, 33);
    opacity: 0.3;
    transition: 1s ease-in-out;
    z-index: 100;
    cursor: pointer;
}

.d_work_image_b:hover {
    transition: 1s ease-in-out;
    opacity: 0;
}
