.profile_stick {
  background: rgba(3, 161, 3, 0);
  z-index: 2000;
  height: 60px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  cursor: pointer;
}

.l_introduction_m {
  display: none;
}

.d_introduction_m {
  display: none;
}
.intro_lines {
  display: flex;
  height: 80px;
  width: 87%;
  justify-content: space-between;

  margin-top: 30px;
  margin-bottom: -100px;
  padding-top: 30px;
}

.l_introline_l {
  width: 80px;
  height: 50px;
  border-bottom-left-radius: 3px;
  border-left: 2px solid rgb(5, 175, 133);
  border-bottom: 2px solid rgb(5, 175, 133);
  transition: 1s ease-in-out;
}

.l_introline_r {
  width: 80px;
  height: 50px;
  border-bottom-right-radius: 3px;
  border-right: 2px solid rgb(5, 175, 133);
  border-bottom: 2px solid rgb(5, 175, 133);
  transition: 1s ease-in-out;
}
.l_contactstick {
  display: flex;
  flex-direction: column;
  width: 5%;
  position: fixed;
  min-height: 660px;
  background: rgba(3, 161, 3, 0);
  justify-content: end;
  align-items: center;
  padding-bottom: 10px;
  visibility: hidden;
  z-index: 1000;
}
.l_showStcks {
  visibility: visible;
  -webkit-animation: contact_anim 2s ease-in-out;
  animation: contact_anim 2s ease-in-out;
}
.l_contactstick_icon {
  margin-left: 23px;
}

.l_contactsimg {
  width: 25px;
  height: auto;
  background-size: contain;
  margin: 10px 0 10px 20px;
  transition: 2s ease-in-out;
  z-index: 1000;
}
.l_c_icon {
  color: rgb(0, 0, 0) !important;
}
.Sticky_icon_space {
  margin-top: 3px;
}
.l_c_icon:hover {
  color: rgb(95, 95, 228) !important;
  transition: 1s ease-in-out;
}
.l_contactsimg:hover {
  transform: scale(1.3);
  transition: 2s ease-in-out;
  color: red;
}

.l_profilen p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: 10px;
}

.l_tabs {
  width: 100%;

  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.l_tabs_container {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-top: 17px;
  justify-content: space-around;
  -webkit-animation: tabs_anim 2s ease-in-out;
}

@keyframes tabs_anim {
  0% {
    transform: translateY(-50%);
  }
}
.l_tabs_container h1 {
  font-family: Roboto Condensed;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  padding: 5px 10px 0 10px;
  cursor: pointer;
  color: rgb(57, 54, 80);
  font-weight: bold;
  opacity: 0.8;
}

.l_profilen_avater {
  box-shadow: 1px 2px 6px 1px rgb(165, 160, 160);
}

.l_profilen {
  display: flex;
  flex-direction: row;
  visibility: hidden;
  color: #333333;
  font-weight: bold;
  font-family: Raleway;
  cursor: pointer;
  margin: 30px;
  padding-top: 40px;
}

.hidetabs {
  visibility: hidden;
}

.showprofile {
  visibility: visible;
  -webkit-animation: avatar 2s ease-in-out;
  animation: avatar 2s ease-in-out;
}

.l_tabs_container h1:hover {
  transition: 0.5s ease-in-out;
  opacity: 1;
  transform: scale(1.01);
}

.l_tabs_container h1 p {
  font-family: Roboto Condensed;
  color: rgb(20, 240, 185);
}

.l_tabs_container span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid rgb(20, 240, 185);
  opacity: 0.8;
  height: 30px;
  padding: 5px;
  font-family: Roboto Condensed;
  color: rgb(57, 54, 80);
  font-weight: bold;
}

.l_tabs_container span:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.01);
  border: 2px solid rgb(5, 175, 133);
  opacity: 1;
}

.l_profilen:hover {
  color: rgb(183, 218, 57);
  transition: 1s ease-in-out;
}

.l_introduction {
  width: 100%;
  min-height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.footer_lines {
  display: flex;
  width: 80%;
  height: 80px;
  justify-content: space-between;
}

.l_footer_line_r {
  width: 0%;
  height: 2px;
  margin-left: 5px;
  background-color: rgb(5, 175, 133);
}
.l_footer_line_l {
  width: 0%;
  height: 2px;
  background-color: rgb(5, 175, 133);
  margin-right: 5px;
}
.lines_width {
  width: 45%;
  -webkit-animation: spreed_width 1s ease-in-out;
}
.l_footer_resume {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid rgb(5, 175, 133);
  color: rgb(5, 175, 133);
  font-weight: bold;
  font-family: Roboto condensed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l_footer_resume p {
  margin-top: 15px;
}
.l_footer_mail {
  display: flex;
  flex-direction: row;
}
.l_footer_click {
  padding: 8px;
  margin-top: -6px;
  margin-left: 10px;
  border-radius: 5px;
  transition: 2s ease-in-out;
  font-family: Roboto condensed;
  text-decoration: none;
}
.l_footer_click:hover {
  border: 1px solid rgb(5, 175, 133);
  transition: 2s ease-in-out;
  cursor: pointer;
}
.l_footer_create {
  font-family: Roboto condensed;
  font-weight: bold;
}
.l_footer_circle {
  width: 25px;
  height: 40px;
  border-radius: 15px;
  background-color: rgb(14, 112, 88);
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footermain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.l_contactme {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e6e6e6;
  align-items: center;
  min-height: 450px;
  margin-top: 100px;
  width: 100%;
  justify-content: space-between;
}
.footer_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 30px;
}
.l_footer_header {
  font-family: Roboto condensed;
  font-weight: bold;
  color: rgb(5, 175, 133);
  font-size: 40px;
}
.l_footer_p {
  font-family: Roboto condensed;
  font-size: 25px;
}

.l_introduction_s {
  width: 100%;
  min-height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;

  background-color: rgb(1, 1, 9);
}
.l_skill_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.l_profilen {
  margin-left: -10px;
}
.l_fix_contact_line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  position: relative;
  align-items: center;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 80px;
  transition: 2s ease-in-out;
  transform: translateY(200%);
  visibility: hidden;
}

.l_fix_contact_line span {
  padding: 5px;
  width: 13px;
  height: 13px;
  background-color: rgb(53, 53, 99);
  border-radius: 3px;
  cursor: pointer;
  transition: 2s ease-in-out;
}

.l_fix_contact_line span:hover {
  transition: 1s ease-in-out;
  transition: scale(1.05);
}

.spintab {
  -webkit-animation: spinanim 4s ease-in-out;
  animation: spinanim 4s ease-in-out;
  background-color: rgb(147, 238, 155) !important;
  transition: 4s ease-in-out;
  transform: rotate(-45deg);
}

.l_fix_contact_line a {
  box-shadow: 1px 2px 5px 1px rgb(107, 103, 103);
}

.introduction_content {
  width: 95%;
  height: 350px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.introduction_content_p {
  width: 65%;
  padding-top: -30px;
  padding-left: 30px;
  min-height: 350px;
}

.l_HandIndexThumb {
  transition: 1s ease-in-out;
  transform: rotate(90deg);
  -webkit-animation: hand_anim 3s infinite;
}
.l_HandIndexThumb_footer {
  transition: 1s ease-in-out;
  transform: rotate(90deg);
  -webkit-animation: hand_anim 3s infinite;
}
.introduction_content_pic {
  display: flex;
  position: relative;
  width: 35%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-animation: profile_anim 3s ease-in-out;
}
.introduction_content_pic_m {
  display: none;
}
#cursor-follow {
  display: none;
  position: absolute;
  width: 80px;
  height: 20px;
  background-color: blue;

  z-index: 9999;
}

.mediaTab {
  display: none;
}
.l_introduction_content_pic_frame {
  transition: 0.5s ease-in-out;
  width: 320px;
  height: 320px;
  background: rgba(3, 161, 3, 0);
  border-radius: 5px;
  border: 2.3px solid rgb(5, 175, 133);
  margin-left: 25px;
  margin-top: 25px;
  transition: 1s ease-in-out;
  -webkit-animation: drawframe 1s ease-in-out;
}
.draw-frame {
  margin-left: 0px;
  margin-top: 0px;
  transition: 1s ease-in-out;
}

.introduction_content_pic_frame:hover {
  transition: 0.5s ease-in-out;
  padding-bottom: 5px;
  padding-left: 5px;
}
.l_myprofile_front {
  border-radius: 5px;
  width: 320px;
  height: 320px;
  box-shadow: 1px 2px 4px 1px rgb(165, 160, 160);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-color: rgb(5, 175, 133);
  -webkit-animation: drawpic 1s ease-in-out;
}

.l_content_intro {
  font-family: Roboto Condensed;
  font-size: 55px;
  font-weight: bold;
  color: rgb(57, 54, 80);
  transform: translateX(0%);
  -webkit-animation: contentapperI 1s ease-in-out;
  animation: contentapperI 1s ease-in-out;
}

.l_content_intro span {
  color: rgb(5, 175, 133);
}
.l_content_name {
  font-family: Roboto Condensed;
  font-size: 60px;
  font-weight: bolder;
  color: rgb(57, 54, 80);
  transform: translateX(0%);
  -webkit-animation: contentapper 1s ease-in-out;
  animation: contentapper 1s ease-in-out;
}

.l_content_brief {
  font-family: Roboto Condensed;
  color: rgb(57, 54, 80);
  font-weight: bold;
  padding-left: 10px;
}
.l_content_brief_show {
  visibility: visible;
  transition: 1s ease-in-out;
  -webkit-animation: showbriefC 1s ease-in-out;
}
.l_skill_a_introM {
  display: none;
}
.l_skill_a_introS {
  display: flex;
}

.l_brief_swip {
  margin-top: 50px;
  font-family: Roboto Condensed;
  font-size: 30px;
}



.l_brief_swip span {
  font-weight: bold;
  font-size: 35px;
  color: rgb(5, 175, 133);
}

.l_myprofile_front_hover {
  transition: 1s ease-in-out;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(18, 19, 19);
  opacity: 0.4;
  border-radius: 5px;
}

.l_myprofile_front_hover:hover {
  transition: 1s ease-in-out;

  background: rgba(3, 161, 3, 0);
}

.l_skills {
  width: 100%;
  min-height: 400px;
}

.l_contact {
  width: 100%;
  min-height: 400px;
}

.skillData {
  opacity: 0 !important;
}

.l_skill_content {
  width: 85%;
  display: flex;
  flex-direction: row;
  min-height: 500px;
  margin-top: 5px;
  justify-content: space-between;
  align-items: flex-start;
}

.l_skill_a_hi {
  color: rgb(0, 2, 109);
}

.l_skill_a_hi span {
  font-weight: bold;
  color: rgb(5, 175, 133);
}

.l_skill_a {
  width: 50%;
  padding: 10px;
  font-family: Roboto condensed;

  font-weight: lighter;
  font-size: 19px;
  color: rgb(57, 54, 80);
}

.l_skill_sw {
  width: 40%;
  position: relative;
  padding: 10px;
  min-height: 400px;
}

.l_skill_a_h {
  margin-top: 30px;
  color: rgb(5, 175, 133);
  font-family: Montserrat;
  font-weight: bolder;
  font-size: 25px;
}

.l_skill_a_intro {
  font-family: Roboto condensed;
  font-size: 25px;
  color: rgb(10, 9, 56);
}

.l_skill_a_line {
  width: 5%;
  height: 5px;
  background-color: rgb(190, 233, 0);
  margin-bottom: 10px;
  border-radius: 10px;
}

.l_skill_h {
  color: rgb(5, 175, 133);
  font-family: Roboto condensed;
  font-weight: bolder;
  font-size: 30px;
}

.l_skill_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(10, 9, 56);
  font-family: Roboto condensed;
  font-weight: bolder;
  font-size: 16px;

  margin-bottom: -20px;
}

.skillcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}
.l_progressbar {
  width: 100%;
  font-size: 9px;
  font-weight: bold;
  color: green;
  font-family: Montserrat;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skillprogress {
  width: 100%;
}

.l_tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.l_tool_container {
  border-radius: 5px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  transition: 1s ease-in-out;
}

.l_tool_container:hover {
  background-color: rgb(247, 247, 247);
  transition: 1s ease-in-out;
}

.l_tool_c {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 40px;
  box-shadow: 1px 2px 6px 1px rgb(230, 230, 230);
  background-color: rgb(243, 243, 243);
  border-radius: 3px;
  font-family: Roboto condensed;
  font-size: 17px;
  color: rgb(91, 88, 112);
  font-weight: bold;
}
.l_tool_c:hover {
  background-color: rgb(238, 246, 250);
}
.l_tool_c p {
  margin-top: 13px;
}

.l_skill_subname {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 30px;
  border-radius: 5px;
  margin-top: 10px;
  width: 60%;
  font-weight: bolder;
  color: rgb(10, 9, 56);
  font-family: Roboto condensed;
  font-size: 13px;
}
.l_ratec {
  display: flex;
  flex-direction: row;
}
.l_progressbarcontainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 2px;
  background-color: rgb(53, 47, 79);
  width: 100%;
  border-radius: 10px;
  position: relative;
  margin-right: 5px;
  box-shadow: 1px 2px 3px 1px rgb(183, 181, 204);
}
.l_progressbarcontainer span {
  margin-top: -15px;
  margin-left: -3px;
}
.progressb {
  visibility: hidden;
}

.l_progressbarcount_show {
  height: 100%;
  visibility: visible;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  animation: l_progressbar 10s ease-in-out;
}

.l_work_imagecontainer {
  width: 60%;
  height: 300px;
  background-color: white;
  box-shadow: 1px 2px 4px 1px rgb(16, 16, 16);
  border-radius: 5px;
}
.l_experience {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.l_experience_line {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.l_experience_line_1 {
  width: 0%;
  height: 1px;
  border-radius: 3px;
  background-color: rgb(5, 175, 133);
  margin-bottom: 12px;
  margin-left: 10px;
}

.l_experience_line_3 {
  width: 0%;
  height: 1px;
  border-radius: 3px;
  background-color: rgb(5, 175, 133);
  margin-bottom: 12px;
  margin-left: 10px;
}

.l_experience_line_2 {
  width: 25px;
  height: 40px;
  border-radius: 15px;
  background-color: rgb(14, 112, 88);
  margin-bottom: 12px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l_experience_line_c {
  width: 3px;
  height: 3px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  -webkit-animation: expi_c 1s infinite linear;
}

.l_experience_c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  width: 90%;
  height: 100%;
  padding: 40px;
}

.l_experience_c img {
  width: 30%;
  height: 400px;
}

.l_experience_c_p {
  width: 65%;
}

.l_experience_text {
  font-family: Roboto condensed;
  font-size: 19px;
  color: rgb(64, 61, 80);
  padding-left: 10px;
  margin-top: -10px;
}

.l_experience_text span {
  font-weight: bold;
  color: rgb(5, 175, 133);
}

.l_experience_c_boxr {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-bottom: -40px;
  height: 50px;
}

.l_experience_c_boxr_s {
  width: 0px;
  height: 0px;
  visibility: hidden;
  margin-bottom: -80px;
  border-top: 1px solid rgb(5, 175, 133);
  border-right: 1px solid rgb(5, 175, 133);

  border-top-right-radius: 3px;
}

.l_experience_c_boxl_s {
  width: 0px;
  height: 0px;
  visibility: hidden;
  margin-top: -30px;
  border-bottom: 1px solid rgb(5, 175, 133);
  border-left: 1px solid rgb(5, 175, 133);

  border-bottom-left-radius: 3px;
}

.l_experience_c_boxl {
  width: 100%;
  display: flex;
  justify-content: left;

  height: 50px;
}

.l_works {
  width: 100%;
  margin-top: 30px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.l_works_c {
  display: flex;
  flex-direction: column;

  width: 80%;
}

.l_work_l {
  display: flex;
  flex-direction: row;
  visibility: hidden;
}

.l_work_image {
  box-shadow: 1px 2px 6px 1px rgb(165, 160, 160);
  border-radius: 5px;
  width: 100%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.l_work_p {
  width: 50%;
  height: 400px;
  background: rgba(3, 161, 3, 0);
  display: flex;
  flex-direction: column;

  align-items: end;

  margin-left: -50px;
}

.l_work_pl {
  width: 50%;
  height: 400px;
  background: rgba(3, 161, 3, 0);
  display: flex;
  flex-direction: column;
  margin-right: -50px;
}

.l_works_c_h {
  color: rgb(5, 175, 133);
  font-family: Roboto condensed;
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.l_works_c_h_l {
  width: 0%;
  height: 1px;
  border-radius: 3px;
  background-color: rgb(5, 175, 133);
  margin-bottom: 12px;
  margin-left: 10px;
}

.l_works_c_h_l:hover {
  background-color: white;
  transition: 1s ease-in-out;
}

.l_work_p_n {
  color: rgb(5, 175, 133);
  font-family: Roboto condensed;
  font-size: 19px;

  font-weight: bold;
}
.showSlidiv {
    visibility: visible;
    -webkit-animation: brief_swip 3s ease-in-out;
    animation: brief_swip 3s ease-in-out;
  }
.l_work_p_c {
  min-height: 100px;
  background-color: rgb(5, 175, 133);
  border-radius: 5px;
  box-shadow: 1px 2px 4px 1px rgb(165, 160, 160);
  padding: 12px;
  color: rgb(253, 253, 253);
  font-family: Roboto condensed;
  font-size: 15px;
  z-index: 200;
}

.l_work_p_tools {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: end;
  justify-content: right;
  width: 100%;
}

.l_work_p_toolsl {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: end;
  justify-content: left;
  width: 100%;
}

.l_work_p_toolsl p {
  color: rgb(5, 175, 133);
  font-family: Roboto condensed;
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
}

.l_work_p_tools p {
  color: rgb(5, 175, 133);
  font-family: Roboto condensed;
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
}

.l_work_p_link {
  padding: 10px;
  margin-top: -20px;
}

.l_work_image_b {
  width: 100%;
  height: 100%;
  background-color: rgb(36, 35, 35);
  opacity: 0.3;
  transition: 1s ease-in-out;
  z-index: 100;
  cursor: pointer;
}

.l_work_image_b:hover {
  transition: 1s ease-in-out;
  opacity: 0;
}

.workshow_a {
  -webkit-animation: show_div 1s ease-in-out;
  visibility: visible;
}

.lineAnimw {
  visibility: visible;
  width: 20%;

  -webkit-animation: lineanim 3s ease-in-out;
  animation: lineanim 3s ease-in-out;
}

.lineAnim {
  visibility: visible;

  width: 20%;
  -webkit-animation: lineanim 3s ease-in-out;
  animation: lineanim 3s ease-in-out;
}
.expbox {
  width: 50px;
  height: 50px;
  visibility: visible;
  -webkit-animation: showbox 3s ease-in-out;
}

.skillDat {
  opacity: 1;
  -webkit-animation: skillShow 2s ease-in-out;
}

.Contenttab_show {
  visibility: visible;
  transform: translateY(0%);
  -webkit-animation: showTableTab 2s ease-in-out;
}
@keyframes showTableTab {
  0% {
    transform: translateY(200%);
    visibility: hidden;
  }
}

@keyframes skillShow {
  0% {
    visibility: hidden;
    transform: translateY(20%) scale(0.9);
    opacity: 0;
  }
}
@keyframes showbox {
  0% {
    visibility: hidden;
    width: 0px;
    opacity: 0;
  }
}
@keyframes even_anims {
  0% {
    visibility: hidden;
    transform: translateX(50%);
  }
}

@keyframes odd_anims {
  0% {
    visibility: hidden;
    transform: translateX(-50%);
  }
}

@keyframes show_div {
  0% {
    transform: translateY(20%);
    opacity: 0.5;
    visibility: hidden;
  }
}

@keyframes l_progressbar {
  0% {
    width: 0%;
    background-color: blue;
  }
  70% {
    width: 100%;
  }
}

@keyframes expi_c {
  0% {
    transform: translateY(-300%);
    opacity: 1;
  }

  100% {
    transform: translateY(900%);
    opacity: 0;
  }
}

@keyframes spinanim {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes lineanim {
  0% {
    width: 0%;
    visibility: hidden;
  }
}

@keyframes spreed_width {
  0% {
    width: 0%;
  }
}
@keyframes avatar {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(30%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes contentapperI {
  0% {
    visibility: hidden;
    color: white;
    transform: translateX(-5%);
  }
}

@keyframes contentapper {
  0% {
    visibility: hidden;
    color: white;
    transform: translateX(5%);
  }
}

@keyframes brief_swip {
  0% {
    transform: scale(0.6);
    color: aliceblue;
  }

  50% {
    transform: scale(1.02);
  }
}
@keyframes hand_anim {
  0% {
    transform: translateX(-5%) rotate(90deg);
  }
  100% {
    transform: translateX(20%) rotate(90deg);
  }
}
@keyframes hand_anim_m {
  0% {
    transform: translateX(-5%) rotate(90deg);
  }
  100% {
    transform: translateX(20%) rotate(90deg);
  }
}

@keyframes drawframe {
  0% {
    margin-left: 0px;
    margin-top: 0px;
    visibility: hidden;
  }
}

@keyframes drawpic {
  0% {
    margin-left: 25px;
    margin-top: 25px;
    visibility: hidden;
  }
}

@keyframes profile_anim {
  0% {
    transform: translateX(20%) scale(0.9);
    opacity: 0.8;
  }
  70% {
    transform: translateX(-5%);
  }
}
@keyframes contact_anim {
  0% {
    visibility: hidden;
    transform: translateY(50%) scale(0.9);
  }
}

@keyframes showbriefC {
  0% {
    transform: translateY(20%);
  }
}
